@import "reset";
.wrap {
    max-width: 768px;
    padding-right: 2%;
    padding-left: 2%;
    margin: 0 auto;
    font-family: Microsoft JhengHei;
}

// .signin {
//     min-height: calc(100vh - 558px);
// }
.mission-bg {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.over {
    height: 180px;
    overflow: auto;
}

.card-main-h {
    min-height: calc(100vh - 167px);
}

.card-hatch-h {
    min-height: calc(100vh - 246px);
}

// .card-clue-h-sty {
//     max-height: calc(100vh - 240px);
//     overflow: auto;
// }
// .card-clue-h-sty2 {
//     max-height: calc(100vh - 240px);
//     overflow: auto;
// }
@media (max-width:414px) {
    .over {
        height: 320px;
    }
}

@media (max-width:375px) {
    .over {
        height: 260px;
    }
}

@media (max-width:320px) {
    .over {
        height: 160px;
    }
}

.mission-name {
    font-size: 35px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
}

.card-header.bg-c {
    background-color: rgba(0, 0, 0, 0.055);
    border-bottom: 0px;
}

.w-style {
    width: 33.3%;
}

.task {
    width: 100%;
    p {
        margin: 0;
    }
}

.hamburger-wrap {
    padding-top: 4px;
    // width: 70%;
    // margin: auto;
    .box {
        position: relative;
        width: 15%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // margin: 0 1%;
        // overflow: hidden;
    }
    .box:before {
        content: " ";
        display: block;
        padding-top: 50%;
    }
    .hamburger {
        width: 20px;
        cursor: pointer;
    }
    .hamburger .line {
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: gray;
        margin-bottom: 4px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    #hamburger-2.lineActive .line:nth-child(1) {
        transform: translateY(6px) rotate(-45deg);
    }
    #hamburger-2.lineActive .line:nth-child(2) {
        opacity: 0;
    }
    #hamburger-2.lineActive .line:nth-child(3) {
        transform: translateY(-6px) rotate(45deg);
    }
}

.clueTextSty {
    font-weight: bold;
}

.clueContent {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.8s;
}

.openClue .clueContent {
    max-height: 171px;
}

.modal-title {
    font-weight: bold;
    font-size: 23px;
}

.modal-body {
    font-size: 18px;
}

.instruction {
    height: 50px;
}

.hid {
    display: none;
}

.list-group-item:first-child {
    border-top: 1px !important;
}

.animal {
    padding: 5px !important;
    margin: 0 !important;
}

.team-score-get {
    color: red;
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 100px;
}

.team-score-title {
    color: blue;
    font-size: 22px;
    margin-bottom: 0;
    font-weight: bold;
}

// 登入頁面
.signin-select {
    background-image: url(../images/huashan1914.jpg);
    background-size: cover;
    background-position: center center;
    height: 100px;
}

.load {
    .sty {
        min-height: 100vh;
        width: 100%;
    }
}